# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# LOCAL ENV FILES (Mencegah Kunci Supabase/Midtrans Bocor)
.env
.env*.local
.env.local
.env.production

# Temporary & Archive Files
*.zip
gen.zip
--linked/
.vercel

# Supabase Local Temp
supabase/.temp/

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/